.container {
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
  max-height: calc(100vh - 100px);
  overflow-y: scroll;

  @media only screen and (max-width: 600px) {
    min-height: calc(100vh - 60px);
    max-height: none;
    padding: 8px;
    margin: 0 auto;
  }
}
