@use '../../styles/colors.scss' as colors;

.navbar {
  margin: 16px 16px 0px;
  width: calc(100% - 32px);
  border-bottom: 2px solid rgba(colors.$uq-pink, 0.3);
  justify-content: space-between;

  @media only screen and (max-width: 600px) {
    width: calc(100% - 16px);
    margin: 8px 8px 0px;
  }

  .nav-link {
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 2px solid rgba(colors.$uq-pink, 0);
    margin-bottom: -2px;
    font-weight: 600;

    @media only screen and (max-width: 600px) {
      padding: 8px;
    }

    &.selected {
      border-bottom-color: colors.$uq-purple;
    }

    &.logo {
      padding: 2px 8px 2px 16px;
      img {
        height: 28px;
      }

      @media only screen and (max-width: 600px) {
        padding-left: 4px;
      }
    }
  }
}
