@use '../../styles/colors.scss' as colors;

.editor {
  height: 100%;
  border-radius: 4px;
  min-height: 300px;
  max-height: calc(100vh - 52px);

  &.test {
    max-height: 50%;
    min-height: 200px;
  }

  .CodeMirror {
    height: 100%;
  }

  &.hidden {
    visibility: hidden;
    position: absolute;
  }
}
