@use '../styles/colors.scss' as colors;

.editor-view {
  height: calc(100vh - 100px);

  @media only screen and (max-width: 600px) {
    height: calc(100vh - 60px);
  }
  
  .assets {
    font-family: monospace monospace;
  }

  .submission-confirmation {
    padding: 16px;
    border-radius: 4px;
    background-color: colors.$light-gray;
    max-width: 400px;
  }
}
